body {
    background-color: gray;
    width: 850px;
    margin: 0 auto;
    display: block-inline;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    background-color: pink;
    padding-top: 100px;
}

.pagename {
    float: left;
    margin-top: 50px;
    width: 300px;
    font-size: 12px;
}

.clickbar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: ghostwhite;
    height: 40px;
    width: 850px;
}

.click {
    text-align: center;
    width: 400px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    padding: 3px;
    vertical-align: top;
}

.photo {
    float: left;
    position: relative;
    bottom: -20px;
    background-color: blue;
    height: 140px;
    width: 140px;
    margin-right: 20px;
    margin-left: 20px;
    z-index: 1;
}

details {
    display: inline-block;
}

ol>li {
    display: block;
}

ol {
    padding: 0;
}

.action {
    float: left;
    margin: 100px 0 0 80px;
}

td {
    background-color: white;
}

.column {
    box-sizing: border-box;
    background-color: pink;
    padding: 0 1em;
}

.left-column {
    width: 328px;
    float: left;
}
.right-column {
    width: 512px;
    float: right;
}

#columns {
    margin-top: 1em;
}